.nav-bar-height {
  background-color: lightgrey;
  height: 80px;
}

.nav-bar-padding {
  margin: 15px;
}

.image-margin {
  margin: 15px;
  width: 200px;
}

.nav-bar-style {
  align-items: center;
  background-color: lightgrey;
  height: 100px;
}

.nav-bar-cart {
  text-align: end;
  margin-right: 20px;
}

.nav-bar-power {
  margin-left: 10px;
}

.nav-bar-text {
  color: white;
  font-size: 40px;
  text-align: center;
}

.text-margin {
  margin: 15px;
  margin-left: 0;
}

.button-order {
  text-align: end;
  margin-top: 70px;
}

.label-margin {
  margin: 5px;
}

.form-margin {
  margin-left: 15px;
  margin-bottom: 45px;
  margin-top: 45px;
  width: 50%;
}

body {
  height: 100%;
}

.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px black;
}

.button-margin {
  margin: 5px;
}

.pb-password {
  color: red;
  margin: 15px;
}

.input-without-border {
  border: none;
  border-width: 0;
  box-shadow: none;
}

.search-margin {
  margin-right: 20px;
}

.d-inline {
  margin-right: 10px;
}

.nb-of-product {
  width: 10px;
  margin-left: 15px;
  padding: 10px;
}

.nav-power-color {
  color: black;
}

.ordered-text {
  text-align: center;
  font-size: 45px;
  color: red;
  font-weight: bold;
}

.ordered-button {
  text-align: center;
  margin-top: 10px;
}

.total-purchase {
  color: red;
  font-weight: bold;
  font-size: 36px;
}

.purchase {
  margin: 23px !important;
}

.price-format {
  width: 30px;
}
